@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: blueviolet;
    color: rgb(226, 231, 220);
}
.heading{
    margin-top: 30px;
    text-align:center;
    color: darkorange;
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 20px;
    padding: 7px;
    color: darksalmon;
    font-family: 'Roboto', sans-serif;
}
.content1,.content2{
    
    margin: 100px;
    display: flex;
    justify-content: space-between;

}
/* .content2{
    display: flex;
} */
.review{
    display: flex;
    justify-content:center;
}
#btn{
    margin-left: 300px;
    margin-bottom: 100px;
    margin-top: 60px;
    padding: 15px;
    background-color: chartreuse;
    color: crimson;
    border-radius: 1px solid black;
}
#btn:hover{
    background-color: cyan;
    color: darkmagenta;
}
.re input{
    padding: 8px;
}
label{
    color: darkturquoise;
}